# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads and outputs
uploads/
__output__/
history/

# OS files
.DS_Store

# Temporary files
*.tmp
.cache/

# Backup files
*.old-backup
gh-pages-index.html
